<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor Clientes</h1>
      </div>
      <div class="row">
        <button type="button" name="button" class="col-xs-12 col-lg-4 btn btn-success"
          on-click="obtenerClientes">Obtener Clientes</button>
        <button type="button" name="button" class="col-xs-12 col-lg-4 btn btn-danger"
          on-click="agregarCliente">Registro</button>
      </div>
      <div>
        <table class="table table-striped col-xs-12 col-lg-12">
          <thead>
            <th>ID</th>
            <th>Contact Name</th>
            <th>Company</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="[[clientes]]" as="item">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true,
            value: () => []
          },
          respuesta: {
            type: String
          }
        };
      }

      obtenerClientes() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open('GET', url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();
        this.clientes = JSON.parse(request.response).value;
        //console.log(this.clientes);
      }

      agregarCliente() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open('POST', url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json')
        var nuevoCliente = {
          Address: "Obere Str. 57",
          City: "Berlin",
          CompanyName: "Pepes bar",
          ContactName: "Pepe",
          ContactTitle: "Sales Representative",
          Country: "Germany",
          CustomerID: "12345",
          Fax: "030-0076545",
          Phone: "030-0074321",
          PostalCode: "12209",
          Region: null
        }
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.response;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>