<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container">
            <div class="row">
                <img class="col-xs-12 col-lg-8" src="https://image.flaticon.com/icons/svg/2091/2091625.svg" height="200"
                    width="200"></img>
            </div>
            <div class="row">
                <button type="button" name="button" class="col-xs-12 col-lg-4 btn btn-warning" on-click="incrementar">Cargar datos</button>
                <br>
                Bidireccional: <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
                <br>
                Unidireccional: <input type="text" value="[[prop1]]">

            </div>
            <div>
                <table class="table table-striped col-xs-12 col-lg-12">
                    <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[[prop2]]</td>
                            <td>Selena</td>
                            <td>Mora</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Elena</td>
                            <td>Nito del Bosque</td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MiVisor extends Polymer.Element {
            static get is() { return 'mi-visor'; }
            static get properties() {
                return {
                    prop1: {
                        type: String
                    },
                    prop2: {
                        type: Number,
                        value: 999
                    },
                    prop3: {
                        type: String,
                        value: 'Indique su usuario'
                    }
                };
            }

            incrementar() {
                this.prop2++;
                console.log(this.prop1);
                console.log(this.prop2);
            }


        }

        window.customElements.define(MiVisor.is, MiVisor);
    </script>
</dom-module>